<div class="bg-image"></div>


<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>computer</mat-icon> Sistema Integral de Equipos de Computo
    </a>
    <ul>
      <li><a (click)="loginAction()">Inicio de Sesion</a></li>
      <li><a (click)="signupAction()">Registrarse</a></li>
      <li><a (click)="forgotPasswordAction()">¿Haz olvidado tu contraseña?</a></li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right reserved</h2>
</div> 