
<mat-card>
    <b><span>Equipos Asignados</span></b>
    <button mat-flat-button color="primary" class="float-right" (click)="handleAddAction()">Asignar Equipo</button>
</mat-card>

<hr>
<mat-card>
    <mat-form-field appearance="fill">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>

    </mat-form-field>
</mat-card>
<hr>


<div class="responsive_table">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        
        <ng-container matColumnDef="inventory">
            <th mat-header-cell *matHeaderCellDef>Inventario</th>
            <th mat-cell *matCellDef="let element">{{element.inventory}}</th>
        </ng-container>

        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef>Usuario</th>
            <th mat-cell *matCellDef="let element">{{element.userId}}</th>
        </ng-container>

        <ng-container matColumnDef="area">
            <th mat-header-cell *matHeaderCellDef>Area</th>
            <th mat-cell *matCellDef="let element">{{element.areaId}}</th>
        </ng-container>



        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Acción</th>
            <th mat-cell *matCellDef="let element" class="action-link">
                <button mat-icon-button color="primary" matTooltip="Editar" (click)="handleEditAction(element)"> 
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="primary" matTooltip="Delete" (click)="handleDeleteAction(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </th>
        </ng-container>
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>

        


    </table>
</div>