<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">{{dialogData.action}} User</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="userForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="userForm.controls.name.touched && userForm.controls.name.invalid">
                        <span *ngIf="userForm.controls.name.errors.required">This field is mandatory.</span>
                        <span *ngIf="userForm.controls.name.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="userForm.controls.email.touched && userForm.controls.email.invalid">
                        <span *ngIf="userForm.controls.email.errors.required">This field is mandatory.</span>
                        <span *ngIf="userForm.controls.email.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" required>
                    <mat-error *ngIf="userForm.controls.password.touched && userForm.controls.password.invalid">
                        <span *ngIf="userForm.controls.password.errors.required">This field is mandatory.</span>
                        <span *ngIf="userForm.controls.password.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role" required>
                        <mat-option value="admin">Administrador</mat-option>
                        <mat-option value="user">Usuario</mat-option>
                    </mat-select>
                    <mat-error *ngIf="userForm.controls.role.touched && userForm.controls.role.invalid">
                        <span *ngIf="userForm.controls.role.errors.required">This field is mandatory.</span>
                        <span *ngIf="userForm.controls.role.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status" required>
                        <mat-option value="true">Activo</mat-option>
                        <mat-option value="false">No Activo</mat-option>
                    </mat-select>
                    <mat-error *ngIf="userForm.controls.status.touched && userForm.controls.status.invalid">
                        <span *ngIf="userForm.controls.status.errors.required">This field is mandatory.</span>
                        <span *ngIf="userForm.controls.status.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Area</mat-label>
                    <mat-select formControlName="areaId">
                        <mat-option *ngFor="let area of areas " [value]="area.areaId">{{area.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="!(userForm.valid && userForm.dirty)">{{action}}</button>
    <button mat-raised-button color ="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>

