<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center" > {{dialogData.action}} Equipos</span>
    </mat-toolbar-row>
</mat-toolbar>


<mat-dialog-content class="mat-typography">
    <form [formGroup]="equipmentForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Numero de Serie</mat-label>
                    <input matInput formControlName="sn" required>
                    <mat-error *ngIf="equipmentForm.controls.sn.touched && equipmentForm.controls.sn.invalid">
                        <span *ngIf="equipmentForm.controls.sn.error.required">Este campo es obligatorio</span>
                        <span *ngIf="equipmentForm.controls.sn.error.pattern">Este campo no es valido</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Inventario</mat-label>
                    <input matInput formControlName="inventory" required>
                    <mat-error *ngIf="equipmentForm.controls.inventory.touched && equipmentForm.controls.inventory.invalid">
                        <span *ngIf="equipmentForm.controls.sn.error.required">Este campo es obligatorio</span>
                        <span *ngIf="equipmentForm.controls.sn.error.pattern">Este campo no es valido</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Monitor</mat-label>
                    <input matInput formControlName="monitor" required>
                    <mat-error *ngIf="equipmentForm.controls.monitor.touched && equipmentForm.controls.monitor.invalid">
                        <span *ngIf="equipmentForm.controls.sn.error.required">Este campo es obligatorio</span>
                        <span *ngIf="equipmentForm.controls.sn.error.pattern">Este campo no es valido</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Teclado</mat-label>
                    <input matInput formControlName="keyboard" required>
                    <mat-error *ngIf="equipmentForm.controls.keyboard.touched && equipmentForm.controls.keyboard.invalid">
                        <span *ngIf="equipmentForm.controls.sn.error.required">Este campo es obligatorio</span>
                        <span *ngIf="equipmentForm.controls.sn.error.pattern">Este campo no es valido</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Marca</mat-label>
                    <input matInput formControlName="brand" required>
                    <mat-error *ngIf="equipmentForm.controls.brand.touched && equipmentForm.controls.brand.invalid">
                        <span *ngIf="equipmentForm.controls.sn.error.required">Este campo es obligatorio</span>
                        <span *ngIf="equipmentForm.controls.sn.error.pattern">Este campo no es valido</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Modelo</mat-label>
                    <input matInput formControlName="model" required>
                    <mat-error *ngIf="equipmentForm.controls.model.touched && equipmentForm.controls.model.invalid">
                        <span *ngIf="equipmentForm.controls.sn.error.required">Este campo es obligatorio</span>
                        <span *ngIf="equipmentForm.controls.sn.error.pattern">Este campo no es valido</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Procesador</mat-label>
                    <input matInput formControlName="processor" required>
                    <mat-error *ngIf="equipmentForm.controls.processor.touched && equipmentForm.controls.processor.invalid">
                        <span *ngIf="equipmentForm.controls.sn.error.required">Este campo es obligatorio</span>
                        <span *ngIf="equipmentForm.controls.sn.error.pattern">Este campo no es valido</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Generacion</mat-label>
                    <input matInput formControlName="generation" required>
                    <mat-error *ngIf="equipmentForm.controls.generation.touched && equipmentForm.controls.generation.invalid">
                        <span *ngIf="equipmentForm.controls.sn.error.required">Este campo es obligatorio</span>
                        <span *ngIf="equipmentForm.controls.sn.error.pattern">Este campo no es valido</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>RAM </mat-label>
                    <input matInput formControlName="ram" required>
                    <mat-error *ngIf="equipmentForm.controls.ram.touched && equipmentForm.controls.ram.invalid">
                        <span *ngIf="equipmentForm.controls.sn.error.required">Este campo es obligatorio</span>
                        <span *ngIf="equipmentForm.controls.sn.error.pattern">Este campo no es valido</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>HDD/SSD</mat-label>
                    <input matInput formControlName="hddssd" required>
                    <mat-error *ngIf="equipmentForm.controls.hddssd.touched && equipmentForm.controls.hddssd.invalid">
                        <span *ngIf="equipmentForm.controls.sn.error.required">Este campo es obligatorio</span>
                        <span *ngIf="equipmentForm.controls.sn.error.pattern">Este campo no es valido</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Conexion</mat-label>
                    <input matInput formControlName="connection" required>
                    <mat-error *ngIf="equipmentForm.controls.connection.touched && equipmentForm.controls.connection.invalid">
                        <span *ngIf="equipmentForm.controls.sn.error.required">Este campo es obligatorio</span>
                        <span *ngIf="equipmentForm.controls.sn.error.pattern">Este campo no es valido</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Tipo de Nodo</mat-label>
                    <input matInput formControlName="nodetype" required>
                    <mat-error *ngIf="equipmentForm.controls.nodetype.touched && equipmentForm.controls.nodetype.invalid">
                        <span *ngIf="equipmentForm.controls.sn.error.required">Este campo es obligatorio</span>
                        <span *ngIf="equipmentForm.controls.sn.error.pattern">Este campo no es valido</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Ancho de Banda</mat-label>
                    <input matInput formControlName="bandwidth" required>
                    <mat-error *ngIf="equipmentForm.controls.bandwidth.touched && equipmentForm.controls.bandwidth.invalid">
                        <span *ngIf="equipmentForm.controls.sn.error.required">Este campo es obligatorio</span>
                        <span *ngIf="equipmentForm.controls.sn.error.pattern">Este campo no es valido</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Garantia</mat-label>
                    <input matInput formControlName="warranty" required>
                    <mat-error *ngIf="equipmentForm.controls.warranty.touched && equipmentForm.controls.warranty.invalid">
                        <span *ngIf="equipmentForm.controls.sn.error.required">Este campo es obligatorio</span>
                        <span *ngIf="equipmentForm.controls.sn.error.pattern">Este campo no es valido</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Antivirus</mat-label>
                    <input matInput formControlName="antivirus" required>
                    <mat-error *ngIf="equipmentForm.controls.antivirus.touched && equipmentForm.controls.antivirus.invalid">
                        <span *ngIf="equipmentForm.controls.sn.error.required">Este campo es obligatorio</span>
                        <span *ngIf="equipmentForm.controls.sn.error.pattern">Este campo no es valido</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Version de Office</mat-label>
                    <input matInput formControlName="office" required>
                    <mat-error *ngIf="equipmentForm.controls.office.touched && equipmentForm.controls.office.invalid">
                        <span *ngIf="equipmentForm.controls.sn.error.required">Este campo es obligatorio</span>
                        <span *ngIf="equipmentForm.controls.sn.error.pattern">Este campo no es valido</span>
                    </mat-error>
                </mat-form-field>
            </div>

            
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Resguardo</mat-label>
                    <input matInput formControlName="guard" required>
                    <mat-error *ngIf="equipmentForm.controls.guard.touched && equipmentForm.controls.guard.invalid">
                        <span *ngIf="equipmentForm.controls.sn.error.required">Este campo es obligatorio</span>
                        <span *ngIf="equipmentForm.controls.sn.error.pattern">Este campo no es valido</span>
                    </mat-error>
                </mat-form-field>
            </div>



            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Sistema Operativo</mat-label>
                    <input matInput formControlName="systemo" required>
                    <mat-error *ngIf="equipmentForm.controls.systemo.touched && equipmentForm.controls.systemo.invalid">
                        <span *ngIf="equipmentForm.controls.sn.error.required">Este campo es obligatorio</span>
                        <span *ngIf="equipmentForm.controls.sn.error.pattern">Este campo no es valido</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Tipo de Equipo</mat-label>
                    <mat-select formControlName="typeId">
                        <mat-option *ngFor="let type of types" [value]="type.typeId">{{type.name}}</mat-option>
                    </mat-select>
                </mat-form-field> 
                
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Area</mat-label>
                    <mat-select formControlName="areaId">
                        <mat-option *ngFor="let area of areas" [value]="area.areaId">{{area.name}}</mat-option>
                    </mat-select>
                </mat-form-field> 

            </div>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
    [disabled]="!(equipmentForm.valid && equipmentForm.dirty )">{{action}}</button>
    <button mat-raised-button color="primary" mat-dialog-close>Cerrar</button>

</mat-dialog-actions>