<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">{{dialogData.action}} Software </span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="softwareForm">
        <div fxFlex fxLayout="column">
            <div fxFlex fxLayout="row wrap">

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Antivirus</mat-label>
                <input matInput formControlName="antivirus" required>
                <mat-error *ngIf="softwareForm.controls.antivirus.touched && softwareForm.controls.antivirus.invalid">
                    <span *ngIf="softwareForm.controls.antivirus.errors.required ">Este campo es obligatorio.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Version de Office</mat-label>
                <input matInput formControlName="office" required>
                <mat-error *ngIf="softwareForm.controls.office.touched && softwareForm.controls.office.invalid">
                    <span *ngIf="softwareForm.controls.office.errors.required ">Este campo es obligatorio.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Sistema Operativo</mat-label>
                <input matInput formControlName="systemo" required>
                <mat-error *ngIf="softwareForm.controls.systemo.touched && softwareForm.controls.systemo.invalid">
                    <span *ngIf="softwareForm.controls.systemo.errors.required ">Este campo es obligatorio.</span>
                </mat-error>
            </mat-form-field>

        </div>
        </div>
    </form>
</mat-dialog-content>


<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" 
    [disabled]="!(softwareForm.valid && softwareForm.dirty)">{{action}}</button>
    <button mat-raised-button color="primary" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>